html,body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

#logo{
	width: 30%;
}

.nav-list{
	display: flex;
	list-style-type: none;
	align-self:  center;
}

nav{
	display: flex;
	border-bottom: 1px solid #c4c4c4;
	z-index: 1;
}

.menu{
	margin-left: auto;
}

#nav-link{
	text-decoration: none;
	color: inherit;
	padding: 1em;
	font-size: 1.2rem;
}

#nav-link:hover{
	color: blue;
	transition: all 0.2s ease-in;
}

#banner-pic{
	width: 100%;
}

h1, .caption{
	text-align: center;
}

.caption{
	color: #565656;
	font-size: 0.8rem;
}

section{
	padding: 2em;
}

.para{
	padding: 0 1.6em;
}

.grid-memb{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1em;
}

.caption-grid{
	text-align: center;
}

#grid-pic{
	width: 100%;
}

#grid-pic:hover{
	transform: scale(1.1);
	transition: all 0.3s linear;
}

#tour{
	background-color: black;
	color: #fff;
}

.tour-head{
	font-size: 1.7rem;
	text-align: center;
}

.event-card{
	background-color: #fff;
	color: #000;
	width: 66%;
}

.event-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	justify-items: center; 
	grid-gap: 1em;
	padding: 2em;
}

#event-pic{
	width: 100%;
}

.card-text{
	padding: 0 2em 1em 2em;
}

#ticket{
	background-color: #000;
	color: #fff;
	border:0;
	border-radius: 5px;
	padding: 1em;
}

#ticket:hover{
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	transition: all 0.3s linear;
}

input{
	padding: 0.5em;
}

textarea{
	padding: 1em;
}

#send{
	padding: 0.6em;
	background-color: #000;
	color: #fff;
	border:0;
}

#send:hover{
	background-color: rgb(0,0,0,0.7);
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.2s ease-in;
}

.main-feed{
	padding: 2em;
	display: flex;
	justify-content: center;
	gap:5em;
}

footer{
	color: #fff;
	background-color: #000;
	padding: 1em;
}

.footer-text{
	text-align: center;
}